table{
    
    border-collapse: collapse;
}
fieldset{
    border: 3px solid black;
}
table,tr,td,th{
padding: 10px;
border: solid 3px black;
}
input{
    border: 2px solid lightgrey;
    margin: 5px;
    width: 150px;
    padding: 5px;
}
input[type="submit"]{
    cursor: pointer;
}
label{
    font-size: 20px;
    font-weight: bold;
}